<% include partials/header %>

<div class="ui container">
    <div class="ui centered text">
        <h3>No encontramos su pagina!</h3>
        <p>Lo sentimos, su pagina no puede ser encontrada.</p>
        <p>Si piensa que esto puede deberse a un problema tecnico, por favor contactenos a <strong>it@mlv-intranet.org</strong>, describiendo el problema lo mas detalladamente posible. </p>
    </div>
    <button class="ui button" onclick="javascript:history.back()">Regresar</button>
</div>

<% include partials/footer %>