<% include partials/header %>

<p>Bienvenido al chat. Esta pagina esta actualmente en construccion, su finalizacion prevista para Agosto 2019.</p>
<p>Si desea participar en este proyecto, puede contactar al equipo de IT: it@movimientolibertario.com.ve
</p>
<p>Muchas gracias por su visita.</p>

<p><a href="/dashboard">Haz click aqui para regresar.</a></p>

<% include partials/footer %>