<% include partials/header %>

<div class="ui container">
    <p>Esta pagina esta actualmente en construccion, su finalizacion prevista para Agosto 2019.</p>
    <p>Si desea participar en este proyecto, puede contactar al equipo de IT: it@movimientolibertario.com.ve
    </p>
    <p>Muchas gracias por su visita.</p>
    
    <a href="/dashboard"><button class="ui button">Haz click aqui para regresar.</button></a>
</div>

<% include partials/footer %>