<% include partials/header %>

<style>
span{
    font-size: 150%
}
</style>

<div class="ui container">
    <h1 class="title">Espacio personal</h1>
    <div class="ui centered grid">
        <div class="row">
            <a href="/admin">
                <div class="ui raised two wide column segment" id="dashicon">
                    <i class="id card outline icon massive"></i> <br><br>
                    <span>Datos personales</span>
                </div>
            </a>
            <a href="/forum">
                <div class="ui raised two wide column segment" id="dashicon">
                    <i class="bullhorn icon massive"></i> <br><br>
                    <span>Foro</span>
                </div>
            </a>
            <a href="/chat">
                <div class="ui raised two wide column segment" id="dashicon">
                    <i class="comment alternate icon massive"></i> <br><br>
                    <span>Chat</span>
                </div>
            </a>
        </div>
    </div>


    <% if (loggedUser && loggedUser.level===0) { %>
    <h1 class="title">Coordinadores</h1>    

    <div class="ui centered grid" >
        <div class="row" >
            <a href="/admin/members" id="dashicon">
                <div class="ui raised two wide column segment">
                    <i class="key icon massive floated"></i> <br><br>
                    <span>Listado de<br>Miembros</span> 
                </div>
            </a>
        </div>
    </div>
    <% } %>
</div>

<% include partials/footer %>