<% include partials/header %>

<div class="ui container">
    <div class="ui centered text">
        <h3>Error!</h3>
        <p>Lo sentimos, la pagina ha presentado un error. Asegurese por favor de estar conectado.</p>
        <p>Si el problema persiste, por favor contactenos a <strong>it@mlv-intranet.org</strong>, describiendo el problema lo mas detalladamente posible. </p>
    </div>
    <a href="/"><button class="ui button primary">Ir al inicio</button></a>
    <button class="ui button" onclick="javascript:history.back()">Regresar</button>
</div>

<% include partials/footer %>