<% include partials/header %>

<!-- <p>Bienvenido al foro. Esta pagina esta actualmente en construccion, su finalizacion prevista para Junio 2019.</p>
<p>Si desea participar en este proyecto, puede contactarnos al email: jlpg81@gmail.com</p>
<p>Muchas gracias por su visita.</p> -->

<div>
    <a href="/forum/general"><h2>General</h2>
    <p>Foro general para todo lo relacionado al MLV. Por la libertad!</p></a>
</div>

<div>
    <a href="/forum/actividades"><h2>Actividades de calle</h2>
    <p>Para discutir de las actividades emprendidas por el MLV.</p></a>
</div>

<div>
    <a href="/forum/libertarismo"><h2>Libros y Libertarismo.</h2>
    <p>Quieres aprender mas sobre el libertarismo? Es por aqui...</p></a>
</div>

<div>
    <a href="/forum/formacion"><h2>Formacion</h2>
    <p>Cursos y talleres para todos los miembros.</p></a>
</div>

<div>
    <a href="/forum/proyectos"><h2>Proyectos</h2>
    <p>Tienes algun proyecto que quieras promover?</p></a>
</div>

<div>
    <a href="/forum/voluntariado"><h2>Voluntariado</h2>
    <p>Buscas voluntarios para tu proyecto, o quieres contribuir al MLV?</p></a>
</div>

<div>
    <a href="/forum/sugerencias"><h2>Buzon de sugerencias - MLV</h2>
    <p>Sugerencias, criticas, quejas y todo lo que te venga en mente.</p></a>
</div>

<div>
    <a href="/forum/intranet"><h2>Buzon de sugerencias - Intranet</h2>
    <p>Como podemos mejorar nuestro intranet?</p></a>
</div>

<div>
    <a href="/forum/offtopic"><h2>Offtopic</h2>
    <p>Aqui todo es permitido. Anarquia pura!</p></a>
</div>

<p><a href="/dashboard">Haz click aqui para regresar.</a></p>

<% include partials/footer %>