<% include partials/header %>

<p>Bienvenido a la pagina principal.</p>
<p><a href="/dashboard">Click aqui para ingresar al sistema.</a></p>
<p><a href="/register">Click aqui para registrarse.</a></p>

<% include partials/footer %>