<% include partials/header %>

<p>Bienvenido a la pagina principal.</p>
<p><a href="/register">Click aqui para registrarse.</a></p>
<p><a href="/members">Click aqui para ver la lista de miembros.</a></p>
<% include partials/footer %>