<h1>Formulario de registro</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Email">
    <input type="text" name="password" placeholder="Password"><br>
    <input type="text" name="firstName" placeholder="Nombre">
    <input type="text" name="lastName" placeholder="Apellido"><br>
    <input type="text" name="country" placeholder="Pais"><br>
        <!-- <input type="number" placeholder="Ano de nacimiento">
    <input type="text" placeholder="Profesion/Oficio/Ocupación"><br>
    <input type="text" placeholder="Telefono de contacto">
    <input type="url" placeholder="Facebook/Twitter (Link)"><br>
    <input type="text" placeholder="Otra red social (Link)">
    <input type="text" placeholder="Cedula de Identidad"><br>
    <select>
        <option value="" selected disabled hidden>Elige tu Idiologia</option>
        <option value="Liberal">Liberal</option>
        <option value="Minarquista">Minarquista</option>
        <option value="Ancap">Anarco-capitalista</option>
        <option value="Otro">Otro</option>
    </select>
    <input type="text" placeholder="Has participado en otras organizaciones?"><br> -->
    <button>Registrarse</button>
</form>