<h1>Formulario de registro</h1>

<form action="/register" method="POST">
    <label for="">Usuario:
        <input type="text" name="username" placeholder="Usuario">
    </label>
    <label for="">Email:
        <input type="text" name="email" placeholder="Email"><br>
    </label>
    <label for="">Clave:
        <input type="text" id="password" name="password" placeholder="Clave" onkeyup='check()'>
    </label>
    <label for="">Clave:
        <input type="text" id="confirm_password" name="confirm_password" placeholder="Repita su clave" onkeyup='check()'>
    </label><br>
    <label for="">Nombre:
        <input type="text" name="firstName" placeholder="Nombre">
    </label>
    <label for="">Apellido:
        <input type="text" name="lastName" placeholder="Apellido">
    </label><br>
    <label for="">Pais:
        <input type="text" name="country" placeholder="Pais">
    </label>
    <span id='message'></span>

    <!-- <label>password :
        <input name="password" id="password" type="password" onkeyup='check();' />
    </label>
    <br>
    <label>confirm password:
        <input type="password" name="confirm_password" id="confirm_password"  onkeyup='check();' /> 
        <span id='message'></span>
    </label> -->

        <!-- <input type="number" placeholder="Ano de nacimiento">
    <input type="text" placeholder="Profesion/Oficio/Ocupación"><br>
    <input type="text" placeholder="Telefono de contacto">
    <input type="url" placeholder="Facebook/Twitter (Link)"><br>
    <input type="text" placeholder="Otra red social (Link)">
    <input type="text" placeholder="Cedula de Identidad"><br>
    <select>
        <option value="" selected disabled hidden>Elige tu Idiologia</option>
        <option value="Liberal">Liberal</option>
        <option value="Minarquista">Minarquista</option>
        <option value="Ancap">Anarco-capitalista</option>
        <option value="Otro">Otro</option>
    </select>
    <input type="text" placeholder="Has participado en otras organizaciones?"><br> -->
    <br><button>Registrarse</button>

<br>
<a href="/">Atras</a>

</form>