<% include partials/header %>



<div class="ui container">
    <h1>Formulario de registro</h1> <br>
    <div class="ui form">
        <div class="">
            <form action="/register" method="POST">
                <label for="" class="four wide column">Email:
                    <input type="text" name="username" placeholder="Email" required>
                </label>
                <label for="">Apodo:
                    <input type="text" name="nickname" placeholder="Apodo" required><br>
                </label>
                <label for="">Clave:
                    <input type="text" id="password" name="password" placeholder="Clave" onkeyup='check()' >
                </label>
                <label for="">Clave:
                    <input type="text" id="confirm_password" name="confirm_password" placeholder="Repita su clave" onkeyup='check()'>
                </label><br>
                <label for="">Nombre:
                    <input type="text" name="firstName" placeholder="Nombre" required>
                </label>
                <label for="">Apellido:
                    <input type="text" name="lastName" placeholder="Apellido" required>
                </label><br>
                <label for="">Pais:
                    <input type="text" name="country" placeholder="Pais" >
                </label>
                <label for="">Estado:
                    <input type="text" name="state" placeholder="Estado" >
                </label>
                <label for="">A침o de nacimiento: 
                <input type="number" name="nacimiento" placeholder="A침o de nacimiento"  >
                </label>
                <label for="">Profesion/Oficio/Ocupaci칩n
                <input type="text" name="profesion" placeholder="Profesion/Oficio/Ocupaci칩n" ><br>
                </label>
                <label for="">Telefono de contacto
                <input type="text" name="telefono" placeholder="Telefono de contacto" >
                </label>
                <label for="">Facebook/Twitter (Link)
                <input type="url" name="redSocial1" placeholder="Facebook/Twitter (Link)" ><br>
                </label>
                <label for="">Otra red social (Link)
                <input type="text" name="redSocial2" placeholder="Otra red social (Link)">
                </label>
                <label for="">Cedula de Identidad
                <input type="text" name="cedula" placeholder="Cedula de Identidad" ><br>
                </label>
                <label for="">Elige tu Idiologia:
                <select name="ideologia" >
                    <option value="" selected disabled hidden>Elige tu Idiologia:</option>
                    <option value="Liberal">Liberal</option>
                    <option value="Minarquista">Minarquista</option>
                    <option value="Ancap">Anarco-capitalista</option>
                    <option value="Otro">Otro</option>
                </select>
                </label>
                <label for="">Has participado en otras organizaciones?
                <input type="text" name="otras" placeholder="Has participado en otras organizaciones?"><br>
                </label>
                <br><button class="ui primary button">Registrarse</button>
            </form>
        </div>
        <br>
        <a href="/"><button class="ui button">Atras</button></a>
    </div>
</div>



<% include partials/footer %>