<% include partials/header %>

<div class="ui container">
    <h2>Formulario de Afiliación</h2>
    <p>El formulario fue enviado exitosamente</p>
    <p><a href="/">Haz click aqui para regresar.</a></p>
</div>



<% include partials/footer %>