<% include partials/header %>

<div class="ui container">
    <p>La informacion fue cambiada exitosamente.</p>
    <p><a href="/dashboard">Haz click aqui para regresar al inicio.</a></p>
</div>

<% include partials/footer %>