<% include ../partials/header %>

<form action="/forum/general_new" method="POST">
    <label for="title">Titulo
        <input type="text" name="title">
    </label><br>
    <label for="content">Contenido
        <textarea rows="4" cols="50" name="content"></textarea>
    </label><br>
    <button>Enviar</button>
</form>


<% include ../partials/footer %>