<% include ../partials/header %>

<div class="ui container">
    <div class="ui breadcrumb">
        <a href="/dashboard" class="section">Menu principal</a>
        <i class="right angle icon divider"></i>
        <a href="/forum" class="section">Foro</a>
        <i class="right angle icon divider"></i>
        <a href="/forum/<%= section %>" class="section"><%= Section %></a>
        <i class="right angle icon divider"></i>
        <div class="active section">Nuevo Post</div>
    </div>
    <h1>Nuevo Post</h1>
    <div class="ui form">
        <form class="ui field" action="" method="POST">
            <label for="title">Titulo
                <input type="text" name="title">
            </label><br>
            <label for="comment">Contenido
                <textarea rows="4" cols="50" name="comment"></textarea>
            </label><br>
            <button class="ui primary button">Enviar</button>
        </form>
    </div>
    
</div>




<% include ../partials/footer %>