button{
    /* border: 10px !important; */
    margin: 10px 0 !important;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

/* #loginbox{
    width: 30%;
} */

.logoh{
    width: 50px;
}

#dashicon{
    margin: 10px;
    width: 200px;
}

#forumicon{
    margin: 10px;
}

#backicon{
    margin: 100px 100px !important;
}

a{
    color: black;
}